.chart-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
.chart,.pie{
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin: 2rem;
}